@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Heebo:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
background: url(19.jpg) no-repeat center center fixed;
background-size: cover;
}

.container{
   
    color: black;
    position: absolute;
    top: 35%;
    left: 42%;
}

.container h1{
    font-family: 'Heebo', sans-serif;
    width: 50%;
    display: inline-block;
    font-size: 45px;
    border-bottom: 5px solid black;
    margin-bottom: 15px;
    padding: 13px 0;
}

.box{
    width: 100%;
    border-bottom: 2px solid black;
    margin: 22px 0px;

}
 
.box i{
    width: 25px;
    text-align: center;
}

.box input{
    background: none;
   
    padding: 5px 10px;
    width: 75%;
    border: none;
    outline: none;
    color: cornsilk;
    font-size: 20px;
}

.btn{
    color: black;
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 18px;
    background: none;
    font-weight: bold;
}

.btn:hover{
    /*opacity: 0.5;*/
    color: black;
    background: pink;
   
}